FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=ChangeThisSecretKey

DATABASE_URL=sqlite:///data/phishdec.db

VIRUSTOTAL_API_KEY=your_virustotal_api_key_here
PHISHTANK_API_KEY=
GOOGLE_SAFE_BROWSING_KEY=
OPENAI_API_KEY=
